<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trabalhando com múltiplas instâncias</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="app1">
    <h2>Instância 1</h2>

    <h3 v-if="mostrarMensagem">Titulo alterado!</h3>

    <p>Título: {{ titulo }}</p>
    <p>Titulo lower case: {{ tituloLowerCase }}</p>

    <input v-model="novoTitulo">

    <button @click="alterarTitulo">Alterar título</button>
  </div>

  <div id="app2">
    <h2>Instância 2</h2>

    <p>Título: {{ titulo }}</p>

    <button @click="alterarTitulo">Alterar o título da primeira instância</button>
  </div>

  <script>
    /* Podemos atribuir a instância Vue para uma variável, (como conveção é normal
    encontrar essa variável com nome de 'vm' de view model), como Vue faz um proxy para que
    o this acesse todas suas variáveis, método, comuputeds, etc..., nós podemos usar a
    váriavel vm1 para acessar suas propridades na vm2. */

    var vm1 = new Vue({
      el: '#app1',
      data: {
        titulo: 'Instância Vue 1',
        novoTitulo: '',
        mostrarMensagem: false
      },
      methods: {
        alterarTitulo: function (event) {
          this.titulo = this.novoTitulo;
          this.novoTitulo = '';
        }
      },
      computed: {
        tituloLowerCase: function () {
          return this.titulo.toLowerCase().split(' ').join('-');
        }
      },
      watch: {
        titulo: function (novoTitulo, antigoTitulo) {
          console.log('Titulo alterado: de ' + antigoTitulo + ' para ' + novoTitulo);

          this.mostrarMensagem = true;

          var self = this;

          setTimeout(function () {
            self.mostrarMensagem = false;
          }, 2000);
        }
      }
    });

    var vm2 = new Vue({
      el: '#app2',
      data: {
        titulo: 'Instância Vue 2'
      },
      methods: {
        alterarTitulo: function (event) {
          /* Como existe um watch para a propriedade 'titulo' na vm1,
          assim que mudarmos essa propriedade o watch da vm1 vai entrar em ação */
          vm1.titulo = 'Título alterado através da instância 2!';
        }
      }
    });
  </script>

</body>

</html>