<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trabalhando com múltiplas instâncias</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="app1">
    <h2>Instância 1</h2>

    <h3 v-if="mostrarMensagem">Titulo alterado!</h3>

    <p>Título: {{ titulo }}</p>
    <p>Titulo lower case: {{ tituloLowerCase }}</p>

    <input v-model="novoTitulo">

    <button @click="alterarTitulo">Alterar título</button>
  </div>

  <!-- Podemos trabalhar com múltiplas instâncias no Vue, dentro da instância
  podemos utilizar nome de propriedades do data iguais ao de outra isntância.
  Isso ocorre por que cada instância Vue traballha de maneira independente. -->
  <div id="app2">
    <h2>Instância 2</h2>

    <p>Título: {{ titulo }}</p>
  </div>

  <script>
    new Vue({
      el: '#app1',
      data: {
        titulo: 'Instância Vue 1',
        novoTitulo: '',
        mostrarMensagem: false
      },
      methods: {
        alterarTitulo: function (event) {
          this.titulo = this.novoTitulo;
          this.novoTitulo = '';
        }
      },
      computed: {
        tituloLowerCase: function () {
          return this.titulo.toLowerCase().split(' ').join('-');
        }
      },
      watch: {
        titulo: function (novoTitulo, antigoTitulo) {
          console.log('Titulo alterado: de ' + antigoTitulo + ' para ' + novoTitulo);

          this.mostrarMensagem = true;

          var self = this;

          setTimeout(function () {
            self.mostrarMensagem = false;
          }, 2000);
        }
      }
    });

    new Vue({
      el: '#app2',
      data: {
        titulo: 'Instância Vue 2'
      }
    });
  </script>

</body>

</html>